/* Main container */
#app {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    justify-content: center;
    gap: 20px;
}

/* Game board  */
#game {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    width: 70%;
    max-height: 800px;
    max-width: 800px;
    aspect-ratio: 1 / 1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 100%;
    height: 100%;
    border: 5px solid #222;
}

.square:nth-child(even) {
    background-color: #b58863;
}

/* squares */
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.square:nth-child(odd) {
    background-color: #f0d9b5;
}
.square:hover {
    background-color: rgba(0, 255, 0, 0.5);
    cursor: pointer;
}

/* Pieces */
.square img.piece {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

/* History */
#history {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 500px;
    overflow-y: auto;
}

#history h2 {
    text-align: center;
}

#history-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#history-list li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}